<div class="container-fluid">
  <div class="p-2">
    <app-page-title title="Create Manual Estimate" [breadcrumbItems]="breadCrumbItems">
    </app-page-title>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg">
                <label for="customer" class="form-label">Select Customer</label>
                <ng-select [items]="selectValue" id="customer" placeholder="Select Customer"></ng-select>
              </div>
              <div class="col-sm-12 col-md-6 col-lg">
                <label for="startDate" class="form-label"> Transaction Date</label>
                <input bsDatepicker class="form-control" id="startDate" placeholder="dd/mm/yyyy" [bsConfig]="bsConfig"
                  formControlName="startDate" autocomplete="off" />
              </div>

              <div class="col-sm-12 col-lg m-4">
                <div style="text-align: right;">
                  <button type="button" class="btn btn-success btn-rounded" (click)="toggleTableVisibility()"
                    *ngIf="!tableVisible">Start Estimate</button>
                  <button type="button" class="btn btn-primary btn-rounded me-1" *ngIf="tableVisible">Save &
                    Close</button>
                  <button type="button" class="btn btn-danger btn-rounded" (click)="toggleTableVisibility()"
                    *ngIf="tableVisible">Cancel</button>
                </div>
              </div>

              <div class="d-flex flex-wrap align-items-center" *ngIf="tableVisible">
                <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                  <label for="estimateNote" class="form-label">Estimate Note</label>
                  <textarea id="estimateNote" class="form-control" rows="1" placeholder="Estimate Note"></textarea>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                  <label for="Email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="Email" placeholder="name@example.com" autocomplete="off">
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                  <label for="salesPersonNote" class="form-label">Sales Person Note</label>
                  <textarea id="salesPersonNote" class="form-control" rows="1"
                    placeholder="Sales Person Note"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end select2 -->
    </div>
  </div>

  <div class="row" *ngIf="tableVisible">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="OrderForm">
            <div class="height2">
              <table class="table">
                <thead class="table-light">
                  <tr>
                    <th class="caption-bold-1 sticky-th" title="Name">Name</th>
                    <th class="caption-bold-1 sticky-th" title="Name">Description</th>
                    <th class="caption-bold-1 sticky-th" title="Quantity on Hand">QOH</th>
                    <th class="caption-bold-1 sticky-th" title="Unit Price">Unit Price</th>
                    <th class="caption-bold-1 sticky-th text-center" title="Quantity">Qty</th>
                    <th class="caption-bold-1 sticky-th" title="Free">Free</th>
                    <th class="caption-bold-1 sticky-th" title="Action">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let dataItem of items.controls; let rowIndex = index" class="margin-bottom1" style="font-size: 14px"
                    [formGroupName]="rowIndex">
                    <td class="align-middle border-0">
                      <span for="">{{ dataItem?.get("name")?.value }}</span>
                    </td>
                    <td class="align-middle border-0">
                      <span for="">{{ dataItem?.get("description")?.value }}</span>
                    </td>
                    <td class="align-middle">
                      <span class="d-md-none d-sm-none hand label-header" style="font-size: 10px; display: flex"
                        title="{{ dataItem?.get('qtyOnHand')?.value }}">QOH</span>
                      <span for="">{{ dataItem?.get("qtyOnHand")?.value }}</span>
                    </td>
          
                    <td class="align-middle border-0 width-33">
                      <span class="d-md-none d-sm-none label-header" style="font-size: 10px; display: flex">Unit Price
                      </span>
                      <input type="text" class="form-control min-width-60" (keypress)="numberOnly($event)" formControlName="rate" />
                    </td>
          
                    <td class="align-middle border-0 width-33">
                      <span class="d-md-none d-sm-none hand label-header" style="font-size: 10px; display: flex"
                        title="{{ dataItem?.get('qtyOnHand')?.value }}">Qty
                      </span>
                      <div class="d-flex align-items-center">
                        <div class="minus-svg-icon1">
                          <i class="mdi mdi-minus-circle-outline hand minus-svg-icon" style="height: 22; color: red"
                            (click)="onSub(rowIndex)" [class.disabled]="dataItem.get('qty')?.value <= 0"></i>
                        </div>
                        <div>
                          <input type="text" class="form-control min-width-60" formControlName="qty"
                            (keypress)="numberOnly($event)" (input)="onQuantityChange(rowIndex)" />
                        </div>
                        <div>
                          <i class="mdi mdi-plus-circle-outline hand plus-svg-icon" style="height: 18; color: green"
                            (click)="onAdd(rowIndex)"></i>
          
                          <br />
                          <i class="mdi mdi-minus-circle-outline hand minus-svg-icon d-sm-none d-md-done d-lg-none"
                            style="height: 18; color: red" (click)="onSub(rowIndex)"
                            [class.disabled]="dataItem.get('qty')?.value <= 0"></i>
                        </div>
                      </div>
                    </td>
          
                    <td class="align-middle border-0 width-33">
                      <span class="d-md-none d-sm-none label-header" style="font-size: 10px; display: flex">Free</span>
                      <div class="d-flex align-items-center">
                        <input type="text" class="form-control min-width-60 free-fromcotrol" (keypress)="numberOnly($event)"
                          formControlName="free" />
                      </div>
                    </td>
          
                    <td class="align-middle border-0 width-33">
                      <div class="dropdown" dropdown>
                        <button class="btn btn-none dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-expanded="true">
                          <i class="fa fa-ellipsis-v"></i></button>
                        <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                          <a class="dropdown-item"><i class="mdi mdi-file-edit-outline m-1"></i>Edit</a>
                          <a class="dropdown-item"><i class="mdi mdi-delete-outline m-1"></i>Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




















<!-- <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form action="">
            <div class="d-flex flex-wrap align-items-center">
              <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                <label for="customer" class="form-label">Select Customer</label>
                <ng-select [items]="selectValue" id="customer" placeholder="Select Customer"></ng-select>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-12  flex-grow-1 px-1">
                <label for="transactionDate" class="form-label">Transaction Date</label>
                <input bsDatepicker class="form-control" id="transactionDate" placeholder="dd/mm/yyyy"
                  [bsConfig]="bsConfig" />
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                <div style="text-align: right;">
                  <button class="btn btn-primary mt-4 pr-2" type="submit">Save and close</button>
                  <button class="btn btn-primary ms-2 mt-4" type="reset">cancel</button>
                </div>

              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                <label for="estimateNote" class="form-label">Estimate Note</label>
                <input type="text" class="form-control" id="estimateNote" placeholder="name@example.com">
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="name@example.com" autocomplete="off">
              </div>
              <div class="col-lg-4 col-md-4 col-12 col-sm-4 flex-grow-1 px-1">
                <label for="salesPersonNote" class="form-label">Sales Person Note</label>
                <input type="text" class="form-control" id="salesPersonNote" placeholder="name@example.com">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->