<div class="container-fluid">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Customer" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="mdi mdi-magnify mr-1"></i></button>
        </div>
      </div>

      <div class="customer-list-wrapper">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">First Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Second Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Third Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Fourth Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Fifth Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">First Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Second Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Third Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Fourth Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Tenth Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">First Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Second Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Third Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Fourth Customer Name</a></li>
          <li class="list-group-item"><a class="nav-link" routerLink="/customer/customer-info">Fifth Customer Name</a></li>
        </ul>
    </div>

    <select class="form-select d-md-none mt-2" (change)="onSelect($event)">
  <option>Select a customer</option>
  <option *ngFor="let customer of customers" [value]="customer.value" [attr.selected]="selectedRoute === customer.value ? true : null">{{ customer.name }}</option>
</select>

</div>
