<div class="container-fluid">
  <div class="p-2">
    <app-page-title title="Manage Company" [breadcrumbItems]="breadCrumbItems">
    </app-page-title>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <label class="form-label col col-sm-4">RealmID</label>
            <div class="col col-sm-8">
              <p>9865588555</p>
            </div>
          </div>

          <div class="row">
            <label class="form-label col col-sm-4">Name</label>
            <div class="col col-sm-8">
              <p>JMD Texas</p>
            </div>
          </div>

          <div class="row">
            <label class="form-label col col-sm-4">Accounts</label>
            <div class="col col-sm-8">
              <p>(484)-444 0903</p>
            </div>
          </div>

          <div class="row">
            <label class="form-label col col-sm-4">Invoice Concent</label>
            <div class="col col-sm-8">
              <p>9865588555</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="form-label col col-sm-4">Email1</label>
            <div class="col col-sm-8">
              <p>example email</p>
            </div>
          </div>
          <div class="row">
            <label class="form-label col col-sm-4">Email2</label>
            <div class="col col-sm-8">
              <p>example email</p>
            </div>
          </div>

          <div class="row">
            <label class="form-label col col-sm-4">Office phone</label>
            <div class="col col-sm-8">
              <p>444 0903</p>
            </div>
          </div>
          <div class="row">
            <label class="form-label col col-sm-4">Fax</label>
            <div class="col col-sm-8">
              <p>444 0903</p>
            </div>
          </div>
          <div class="row">
            <label class="form-label col col-sm-4">Address</label>
            <div class="col col-sm-8">
              <p>Texas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>