<div class="container-fluid">
  <div class="p-2">
    <app-page-title title="Manage Company" [breadcrumbItems]="breadCrumbItems">
    </app-page-title>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>RealmID</h6>
            </li>
            <li class="list-group-item">9865588555</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Name</h6>
            </li>
            <li class="list-group-item">JMD Texas</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Accounts</h6>
            </li>
            <li class="list-group-item">(484)-444 0903</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Invoice Concent</h6>
            </li>
            <li class="list-group-item"></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Email1</h6>
            </li>
            <li class="list-group-item">example email</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Email2</h6>
            </li>
            <li class="list-group-item">example email</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Office phone</h6>
            </li>
            <li class="list-group-item">444 0903</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Fax</h6>
            </li>
            <li class="list-group-item">444 0903</li>
          </ul>
          <ul class="list-group list-group-horizontal custom-ul">
            <li class="list-group-item">
              <h6>Address</h6>
            </li>
            <li class="list-group-item">Texas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>