<div class="container-fluid">
  <div class="p-2">
    <app-page-title title="Hangfire Jobs" [breadcrumbItems]="breadCrumbItems">
    </app-page-title>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive mb-0">
        <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="order-list">
          <thead class="table-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Job Name</th>
              <th scope="col">Sync</th>
            </tr>
          </thead>
          <tbody *ngFor="let jobs of hangFireJobs">
            <tr>
              <td>{{jobs.id}}</td>
              <td>{{jobs.jobName}}</td>
              <td><i class="mdi mdi-sync"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>