<div bsModal #invoiceDetailModal="bs-modal" class="modal fade" id="invoiceDetailModal" tabindex="-1"
    aria-labelledby="InvoiceDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                   Invoive Details (#445566)
                </h5>
                <button type="button" class="btn-close" id="close-modal" (click)="invoiceDetailModal.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 col-auto">
                            <div class="row">
                                <div class="col text-end">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="navigateToEditInvoice()">Edit</button>
                                </div>
                            </div>
                            <div class="row">
                                <label class="form-label col col-sm-4">Invoice Number</label>
                                <div class="col col-sm-8">
                                    <p>9865588555</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label class="form-label col col-sm-4">Customer Name</label>
                                <div class="col col-sm-8">
                                    <p>Customer Name</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label class="form-label col col-sm-4 my-0">Quantity</label>
                                <div class="col col-sm-8">
                                    <p>10/12/2023</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label class="form-label col col-sm-4 my-0">Total Amount</label>
                                <div class="col col-sm-8">
                                    <p>$123</p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="form-label col col-sm-4 my-0">Customer Memo</label>
                                <div class="col col-sm-8">
                                    <p>Customer Memo</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label class="form-label col col-sm-4 my-0">Sales Person Note</label>
                                <div class="col col-sm-8">
                                    <p>Sales Person Note</p>
                                </div>
                            </div>

                                <div class="dropdown" dropdown placement="top-right">
                                    <p class="dropdown-toggle" dropdownToggle data-toggle="dropdown" aria-expanded="true">
                                        <b class="text-danger">1 Linked Transaction </b>
                                    </p>
                                    <div class="dropdown-menu" *dropdownMenu>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Invoice Date</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-primary" (click)="navigateTolinkedwithestimate()" data-bs-dismiss="modal">
                                                        Estimate
                                                    </td>
                                                    <td>22/3/2023</td>
                                                    <td>$1232</td>
                                                    <!-- Add more rows as needed -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>

                        <!-- <div class="col-auto">
                            <button class="btn btn-primary" routerLink="/invoice/edit-invoice" data-bs-dismiss="modal">
                                Edit
                            </button>
                        </div> -->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover mt-2">
                            <thead>
                                <tr>
                                    <th scope="col" title="Product">Product</th>
                                    <th scope="col" title="Description">Description</th>
                                    <th scope="col" title="Unit Price">Unit Price</th>
                                    <th scope="col" title="Qty on Hand">QOH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Customer Name</td>
                                    <td>9776976544</td>
                                    <td>customeremail</td>
                                    <td>46</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end modal body -->
        </div>
    </div>
</div>