.card-body{
    padding: 0;
}



.max-height-1 {
    max-height:auto;
    min-height:auto;
}
.max-height-2 {
    max-height:100vh;
    min-height:100vh;
}

.height {
    overflow-y: auto;
    // max-height: calc(100vh - 130px);
    max-height: 118vh;
    min-height:118vh;
}

// .height2 {
//     max-height: calc(100vh - 200px);
// }

// .sticky-th {
//     position: sticky;
//     top: 0;
//     z-index: 2;
// }

.form-control {
    box-shadow: none !important;
}


.border {
    border-radius: 4px;
    border: 1px solid rgb(134, 134, 134) !important;
}

.hover:hover {
    cursor: pointer;
    background-color: rgb(139, 116, 241);
    color: whitesmoke;
}